*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        #2eaed9 0%,
        #6bb8cf 10%,
        #7fc3d6 16%,
        #9eb4c2 24%,
        #bb9fae 40%,
        #c49fae 48%,
        #d39586 76%,
        #d63176 100%
    );
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
}

button{
    border: none;
    border-radius: 40px;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.checked{
    color: #555;
    text-decoration: line-through;
}

.checked::before{
    background-image: url(/images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #edeef0;
}
